
/*去掉平均K线图*/
.item-2xPVYue0-.withIcon-1xBjf-oB-[data-value="ha"] {
    display: none;
}
.item-2xPVYue0-.withIcon-1xBjf-oB-[data-value="bar"] {
    display: none;
}
.item-2xPVYue0-.withIcon-1xBjf-oB-[data-value="hollowCandle"] {
    display: none;
}
.item-2xPVYue0-.withIcon-1xBjf-oB-[data-value="baseline"] {
    display: none;
}
.item-2xPVYue0-.withIcon-1xBjf-oB-[data-value="line"] {
    display: none;
}
/*阻止查询*/
#header-toolbar-symbol-search{
    pointer-events: none;
}


@media screen and (max-width: 767px) {

        /*指标价格*/
    .pane-legend-line.pane-legend-wrap.study .pane-legend-item-value-container{
        display: flex;
    }
    .pane-legend-line.pane-legend-wrap.study:first-child{
        display: flex;
    }
    

    /*高开低收价格*/
    .pane-legend-line.pane-legend-wrap:first-child{
        display: flex;
    }
    /*隐藏指标图例*/
    a.pane-legend-minbtn.apply-common-tooltip.apply{
        display: none;
    }
    /*商品信息*/
    span.pane-legend-line__wrap-description.apply-overflow-tooltip.myhide.main{
        display: none;
    }
    .pane-legend-line.pane-legend-wrap .pane-legend-item-value-container{
        display: flex;
        font-size: 10px !important;
    }
    /* .pane-legend-line.pane-legend-wrap .pane-legend-item-value-container:first-child{
        display: flex;
    } */
    /* .pane-legend-line.pane-legend-wrap:first-child {
        display: flex;
    }
    .pane-legend-line.pane-legend-wrap .pane-legend-item-value-container{
        display: flex;
    } */
    /* 指标隐藏设置关闭*/
    .study .pane-legend-icon-container{
        display: none;
    }
    /*关闭指标按钮*/
    a.pane-legend-icon.delete{
        display: none;
    }
}

#studyModalLayer{
    position: absolute;
    width: 100%;
    height: 100%;
}
#studyModal{
    width:115px;
    position: absolute;
    background-color: #fff;
    top:40px;
    padding: 4px 0;
    box-shadow: 0 2px 4px 0 #6b798866;
    font-size: 14px; 
}

#studyModal .item{
    padding: 2px 10px 2px 8px;
    height: 32px;
    box-sizing: border-box;
    line-height: 30px;
    cursor: pointer;
}
#studyModal .item.active{
    background-color: #2196f3;
    color:#fff
}
#studyModal .separator{
    margin: 6px 0;
    height: 1px;
    background-color: #e1ecf2;
}
span#indicatorBtn {
    display: inline-block;
    line-height: 38px;
    height: 38px;
}