
/*图表右下角的背景色*/
.chart-markup-table.price-axis-container{
    background-color: #0D0F1A;
}

/*顶部菜单栏背景色*/
.group-wWM3zP_M-{
    background-color: #24252A;
}
/*顶部菜单栏宽度*/
.layout__area--top{
    width: 100vw !important;
    left:0 !important;
}
/*隐藏自带的图标按钮*/
.group-wWM3zP_M-:nth-child(-n+3){
    display: none
}
/*自定义按钮颜色*/
.customButton--jqJTfH5-{
    color: #979799;
}
/*页面背景*/
.chart-page{
    background-color: #0D0F1A;
}
.toolbar-2n2cwgp5-{
    /* background: #f6f6f6; */
}


/*时间选择弹出框背景色*/
.menuWrap-1gEtmoET-,.item-2xPVYue0-{
    background-color: #24252A;
}
/*时间选择弹出框字体颜色*/
.item-2xPVYue0-{
    color: #979799;
}
/*时间弹出窗选中条目颜色*/
.item-2xPVYue0-.isActive-2j-GhQs_-, .item-2xPVYue0-.isActive-2j-GhQs_-:active{
    background-color:#DC4744
}
/*分割线背景色*/
.separator-25lkUpN--{
    background-color: #979799;
}
/*侧边栏颜色*/
.group-2JyOhh7Z-{
    background-color: #24252A;
}
/*侧边栏字体颜色*/
.button-263WXsg--{
    color: #979799;
}
/*隐藏按钮左边区域*/
.fill-1djIbBXv-{
    background-color:#24252A;
}
/*侧边栏分割线颜色*/
.inner-1xuW-gY4-{
    background-color: #979799;
}
/*隐藏侧边栏按钮背景色和颜色*/
.container-3_8ayT2Q- .background-Q1Fcmxly-{
    fill: #24252A;
    stroke: #979799;
}
.container-3_8ayT2Q- .arrow-WcYWFXUn-, html.theme-dark .container-3_8ayT2Q- .arrow-WcYWFXUn-{
    stroke: #979799;
}
/*侧边工具栏选中色*/
.button-263WXsg--.isTransparent-sRmateFl-.isActive-2mI1-NUL- .icon-1Y-3MM9F- {
    color: #dc4744;
}
/*选择工具图标颜色*/
.item-31XunD5q- {
    color: #979799;
}
.item-stVdeCwG-.interactive-3E0jwVyG-{
    color: #979799;
}
.line-c_e_alAN-{
    background-color: #979799;
}
/* :root {
    --tv-color-platform-background: #d1c4e9;
    --tv-color-pane-background: rgb(251, 223, 244);
    --tv-color-pane-background-secondary: rgb(249, 185, 233);
    --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
    --tv-color-toolbar-button-background-secondary-hover: red;
    --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
    --tv-color-toolbar-button-text: rgb(136, 24, 79);
    --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
    --tv-color-toolbar-button-text-active: red;
    --tv-color-toolbar-button-text-active-hover: red;
    --tv-color-item-active-text: rgb(6, 6, 255);
    --tv-color-toolbar-toggle-button-background-active: red;
    --tv-color-toolbar-toggle-button-background-active-hover: magenta;
} */
