.chart-markup-table.price-axis-container{
    background-color: #ffffff;
}
.group-wWM3zP_M-:nth-child(-n+3){
    display: none
}

/*时间弹出窗选中条目颜色*/
.item-2xPVYue0-.isActive-2j-GhQs_-, .item-2xPVYue0-.isActive-2j-GhQs_-:active{
    background-color:#DC4744
}

/*侧边工具栏选中色*/
.button-263WXsg--.isTransparent-sRmateFl-.isActive-2mI1-NUL- .icon-1Y-3MM9F- {
    color: #dc4744;
}
/*页面背景*/
.chart-page{
    background-color: #fff;
}